/* Cascading Style Sheet Main */
@font-face {
    font-family: 'Work Sans-Local';
    src: url(../font/work-sans.ttf);
}
/* Kit */
* {
    font-family: 'Work Sans-Local', sans-serif;
}
*::selection {
    --root-dark: #212529;
    --root-light: #f8f9fa;
    color: var(--root-light);
    background-color: var(--root-dark);
}
/* Root */
.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(110, 110, 110, 0.25) !important;
}
.dropdown-item:hover,
.dropdown-item:focus {
    background-color: var(--root-dark-bg-subtle) !important;
}
.dropdown-item.active,
.dropdown-item:active {
    background-color: var(--root-dark) !important;
}
.nav-link:focus-visible {
    box-shadow: 0 0 0 0.25rem rgba(110, 110, 110, 0.25) !important;
    border-radius: var(--root-border-radius);
    transition: 250ms all;
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 calc(var(--root-navbar-toggler-focus-width) - 0.15rem) var(--root-dark) !important;
}
/* Element */
body::-webkit-scrollbar {
    display: none;
}
main {
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
/* ID */
/* Button Scroll to Top */
#scrollTop {
    opacity: 0;
    right: 25px;
    bottom: 20px;
    z-index: 99;
    position: fixed;
    padding: 5px 10px;
    transition: 500ms all;
    background: #f8f9fa;
    border: 1px solid #212529;
    outline: 5px solid #f8f9fa;
}
/* Class */
/* Unit */
.h-73px {
    height: 73px !important;
}
/* Single Page */
.single-page {
    padding-top: 73px !important;
    min-height: calc(100vh - 73px) !important;
}
/* Text, Border, Button, Link for Color Magenta */
.btn-magenta {
    color: #ffffff !important;
    background: #c208c2 !important;
}
.btn-magenta:hover {
    background: #c208c2c5 !important;
}
.btn-magenta:focus-visible {
    background: #c208c2c5 !important;
    box-shadow: 0 0 0 0.25rem rgba(184, 12, 109, 0.5) !important;
}
.link-magenta {
    color: #c208c2 !important;
}
.text-justify {
    text-align: justify !important;
}
/* Keyframe */
/* Fade in at Header adn Main Element */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
