@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

html {
  scroll-padding-top: 64px;
}

body {
  font-family: "Vollkorn", serif;
  font-size: 18px;
  letter-spacing: 0.275px;
}

.about-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}

@media (max-width: 320px) {
  .feel-list {
    grid-template-columns: 1fr;
  }
}

#diary {
  margin-bottom: 12px;
}

#result {
  display: none;
  margin-bottom: 12px;
}

br {
  display: block;
  margin: 12px;
  content: "";
}

h1 {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-size: 32px;
}

h2 {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-size: 24px;
  margin: 16px 0 -4px 0;
}

blockquote {
  margin-top: 12px;
  margin-left: 16px;
  padding-left: 16px;
  border-left: 4px solid #dddddd;
}

p {
  line-height: 1.65;
}

a {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 12px 4px;
  border: 1px solid #dddddd;
  cursor: pointer;
  background-color: #1f1f1f;
  transition: all 0.25s ease-in-out;
}

a:hover {
  opacity: 0.85;
}
