@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html {
  scroll-padding-top: 64px;
}

body {
  /* font-family: "Vollkorn", serif; */
  font-family: "Inter", serif;
  font-size: 16px;
  letter-spacing: 0.275px;
  color: #fbfbfb;
}

.about-list,
.kind-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}

@media (max-width: 375px) {
  .about-list,
  .kind-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 320px) {
  .about-list,
  .kind-list {
    grid-template-columns: 1fr;
  }
}

#diary {
  margin-bottom: 12px;
}

#result {
  display: none;
  margin-bottom: 12px;
}

#path {
  word-break: break-all;
}

br {
  display: block;
  margin: 12px;
  content: "";
}

h1 {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-size: 32px;
  word-break: break-all;
}

h2 {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-size: 24px;
  margin: 16px 0 -4px 0;
  word-break: break-all;
}

blockquote {
  margin-top: 12px;
}

p {
  line-height: 1.65;
}

a {
  font-size: 16px;
  color: #fbfbfb;
  text-decoration: none;
  text-align: center;
  padding: 10px 2px;
  border: 1px solid #dddddd;
  cursor: pointer;
  background-color: #1f1f1f;
  transition: all 0.125s ease-in-out;
}

a:hover {
  opacity: 0.75;
}

img#about-image {
  margin-bottom: 24px;
  max-width: 180px;
  max-height: 180px;
  padding: 4px;
  border: 1px solid #dddddd;
  width: auto;
  aspect-ratio: unset;
}

@media (max-width: 720px) {
  body,
  a {
    font-size: 14px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 22px;
  }
}
