@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap");

body {
  font-family: "Vollkorn", serif;
  font-size: 18px;
}

ul {
  line-height: 1.5;
  letter-spacing: 0.25px;
}
