@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 64px;
}
html,
body {
  margin: 0;
  padding: 0;
}
:root {
  --color-border: #332e2e;
  --color-neutral-dark: #000000;
  --color-accent: #cfffae;
  --color-primary: #ffd3f3;
  --color-secondary: #e3fff8;
  --color-surface: #fff7f3;

  --spacing-z: 0px;
  --spacing-2xs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 64px;
  --spacing-3xl: 128px;

  --screen-sm: 768px;
  --screen-md: 1280px;

  --radius-z: 0px;
  --radius-md: 12px;
  --radius-full: 999px;
}
body {
  display: flex;
  flex-direction: column;
  background: var(--color-surface);
  align-items: center;
  color: var(--color-border);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  gap: var(--spacing-2xl);
}
main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xl);
  width: 100%;
  align-items: center;
}
h1,
h2,
h3,
p {
  margin: var(--radius-z);
}
p {
  line-height: 1.5;
}
a {
  line-height: 1.75;
}

/* Header */
header {
  width: 100%;
  max-width: var(--screen-md);
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: var(--spacing-2xl);
  gap: var(--spacing-md);
  row-gap: var(--spacing-2xs);
}
@media (max-width: 768px) {
  header nav {
    flex-direction: column;
    align-items: start;
  }
}
header nav div ul {
  display: flex;
  list-style: none;
  gap: var(--spacing-md);
  padding: var(--spacing-z);
  flex-wrap: wrap;
}
header nav div ul li a {
  text-transform: uppercase;
  text-decoration-style: dashed;
  text-underline-offset: var(--spacing-xs);
  color: var(--color-border);
  text-decoration-thickness: 2px;
}
header nav div ul li a:hover {
  text-decoration-style: solid;
}

/* Section: Hero */
section#hero {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  max-width: var(--screen-md);
  width: 100%;
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
}
section#hero div {
  display: flex;
  gap: var(--spacing-md);
}
section#hero h1 {
  font-size: 32px;
  font-weight: 700;
  margin-top: var(--spacing-md);
}
section#hero > div:nth-child(2) h1 span {
  font-weight: 400;
}

/* Section: Divider Primary */
section#divider-primary {
  padding-top: var(--spacing-lg);
  padding-bottom: var(--spacing-lg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  border-top: 2px solid var(--color-border);
  border-bottom: 2px solid var(--color-border);
  width: 100%;
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
}
@media (max-width: 768px) {
  section#divider-primary {
    justify-content: start;
  }
}
section#divider-primary div {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-2xl);
  row-gap: var(--spacing-md);
}
@media (max-width: 768px) {
  section#divider-primary div {
    flex-direction: column;
  }
}

/* Section: Ethics */
section#ethics {
  display: flex;
  max-width: var(--screen-md);
  width: 100%;
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
  flex-direction: column;
  gap: var(--spacing-xl);
}
section#ethics h2 {
  text-decoration: underline;
  text-underline-offset: var(--spacing-sm);
  text-decoration-style: dashed;
  text-decoration-thickness: 2px;
}
section#ethics h2 span {
  font-weight: 400;
}
section#ethics > div {
  display: flex;
  gap: var(--spacing-lg);
  margin-top: var(--spacing-md);
}
@media (max-width: 768px) {
  section#ethics > div {
    flex-direction: column;
  }
}
section#ethics > div > div {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

section#ethics > div > div > div {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

/* Section: Divider Secondary */
section#divider-secondary {
  padding-top: var(--spacing-lg);
  padding-bottom: var(--spacing-lg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
  border-top: 2px solid var(--color-border);
  border-bottom: 2px solid var(--color-border);
  width: 100%;
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
  flex-direction: column;
  gap: var(--spacing-xs);
}
@media (max-width: 768px) {
  section#divider-secondary {
    align-items: start;
  }
}
section#divider-secondary p {
  text-align: center;
}
section#divider-secondary a {
  text-align: center;
  text-decoration-style: dashed;
  text-underline-offset: var(--spacing-xs);
  color: var(--color-border);
  text-decoration-thickness: 2px;
  font-weight: 700;
}
section#divider-secondary a:hover {
  text-decoration-style: solid;
}
@media (max-width: 768px) {
  section#divider-secondary p,
  section#divider-secondary a {
    text-align: left;
  }
}

/* Section: Work */
section#work {
  display: flex;
  flex-direction: column;
  max-width: var(--screen-md);
  width: 100%;
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
}
section#work h2 {
  text-decoration: underline;
  text-underline-offset: var(--spacing-sm);
  text-decoration-style: dashed;
  text-decoration-thickness: 2px;
  margin-bottom: var(--spacing-xl);
}
section#work h2 span {
  font-weight: 400;
}
section#work a {
  text-decoration-style: dashed;
  text-underline-offset: var(--spacing-xs);
  color: var(--color-border);
  text-decoration-thickness: 2px;
}
section#work a:hover {
  text-decoration-style: solid;
}
@media (max-width: 1024px) {
  section#work > div {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2xl);
  }
}
section#work > div > div {
  display: flex;
  gap: var(--spacing-2xl);
  align-items: center;
}
@media (max-width: 1024px) {
  section#work > div > div {
    display: flex;
    gap: var(--spacing-lg);
    flex-direction: column;
    align-items: start;
  }
  section#work > div > div > img {
    width: 100%;
    max-height: 480px;
    object-fit: cover;
  }
}
section#work > div > div > div {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}
section#work > div > div > div > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacing-xl);
  row-gap: var(--spacing-sm);
}
section#work > div > div > div > div > div {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

/* Section: Divider Accent */
section#divider-accent {
  padding-top: var(--spacing-lg);
  padding-bottom: var(--spacing-lg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-accent);
  border-top: 2px solid var(--color-border);
  border-bottom: 2px solid var(--color-border);
  width: 100%;
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
}
section#divider-accent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xs);
}
@media (max-width: 768px) {
  section#divider-accent {
    align-items: start;
  }
}
section#divider-accent p {
  text-align: center;
}
section#divider-accent a {
  text-align: center;
  text-decoration-style: dashed;
  text-underline-offset: var(--spacing-xs);
  color: var(--color-border);
  text-decoration-thickness: 2px;
  font-weight: 700;
}
section#divider-accent a:hover {
  text-decoration-style: solid;
}
@media (max-width: 768px) {
  section#divider-accent p,
  section#divider-accent a {
    text-align: left;
  }
}

/* Section: About */
section#about {
  display: flex;
  max-width: var(--screen-md);
  width: 100%;
  padding: var(--spacing-z) var(--spacing-md);
  flex-direction: column;
  gap: var(--spacing-xl);
}
section#about h2 {
  text-decoration: underline;
  text-underline-offset: var(--spacing-sm);
  text-decoration-style: dashed;
  text-decoration-thickness: 2px;
}
section#about h2 span {
  font-weight: 400;
}
section#about > div {
  display: flex;
  gap: var(--spacing-lg);
  margin-top: var(--spacing-md);
}
@media (max-width: 768px) {
  section#about > div {
    flex-direction: column;
  }
}
section#about > div > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-md);
  flex: 1;
}
section#about > div > div > div {
  display: flex;
  align-items: center;
  gap: var(--spacing-md, 16px);
}

/* Footer */
footer {
  display: flex;
  width: 100%;
  max-width: var(--screen-md);
  padding: var(--spacing-z) var(--spacing-md);
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
}
@media (max-width: 768px) {
  footer {
    align-items: start;
  }
}
footer a {
  text-decoration-style: dashed;
  text-underline-offset: var(--spacing-xs);
  color: var(--color-border);
  text-decoration-thickness: 2px;
  font-weight: 700;
}
footer a:hover {
  text-decoration-style: solid;
}
footer p {
  padding: var(--spacing-2xl) var(--spacing-z);
  flex-direction: column;
}
footer p a {
  text-decoration: none;
}
footer p a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
