/* About CSS */
/* Default: Section */
#about > section:nth-child(1) {
  min-height: 32vh;
  padding: 4rem 0;
  background-color: var(--blue);
}
/* Default: Dark: Section */
[data-bs-theme="dark"] #about > section:nth-child(1) {
  background-color: var(--darkblue);
}
