/* Contact CSS */
/* Default: Contact Form Message */
#contact form #message {
  min-height: 250px;
}
/* Default: Section */
#contact > section:nth-child(1) {
  min-height: 32vh;
  padding: 4rem 0;
  background-color: var(--blue);
}
/* Default: Dark: Section */
[data-bs-theme="dark"] #contact > section:nth-child(1) {
  background-color: var(--darkblue);
}
