/* File: contact.css */
/* Default: Form Text Area */
#contact form #message {
  min-height: 250px;
}
/* Default: Section One */
#contact > section:nth-child(1) {
  padding: 4rem 0;
  min-height: 32vh;
  background-color: var(--blue);
}
/* Framework: Bootstrap: Dark Mode Section One */
[data-bs-theme="dark"] #contact > section:nth-child(1) {
  background-color: var(--darkblue);
}
