@font-face {
  font-display: swap;
  font-family: "Inter";
  src: url("/asset/font/inter.ttf");
}
:root {
  --animate-delay: 0.125s;
}
::selection {
  color: var(--bs-white);
  background: var(--bs-primary);
}
html {
  scroll-padding-top: calc(56px + 24px);
}
body {
  font-family: "Inter", system-ui, sans-serif;
}
header nav {
  min-height: 56px;
}
main {
  min-height: calc(100vh - (56px + 1px));
}
footer {
  min-height: 56px;
}
nav.bg-body-tertiary,
footer.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}
.bi {
  width: 1em;
  height: 1em;
  fill: currentcolor;
  vertical-align: -0.125em;
}
.navbar .dropdown-menu .active .bi {
  display: block !important;
}
[data-bs-theme="dark"] {
  color-scheme: dark;
  --bs-body-color: #ffffff;
  --bs-body-color-rgb: 255, 255, 255;
  --bs-body-bg: #212529;
}
[data-bs-theme="dark"] nav.bg-body-tertiary,
[data-bs-theme="dark"] footer.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}
[data-bs-theme="dark"] .btn-dark {
  --bs-btn-color: var(--bs-black);
  --bs-btn-bg: var(--bs-light);
  --bs-btn-border-color: var(--bs-light);
  --bs-btn-hover-color: var(--bs-black);
  --bs-btn-hover-bg: #d3d4d5;
  --bs-btn-hover-border-color: #c6c7c8;
  --bs-btn-focus-shadow-rgb: 211, 212, 213;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #c6c7c8;
  --bs-btn-active-border-color: #babbbc;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #f8f9fa;
  --bs-btn-disabled-border-color: #f8f9fa;
}
[data-bs-theme="dark"] .badge.bg-dark {
  border: 1px solid var(--bs-light-border-subtle);
}
[data-bs-theme="dark"] .btn-outline-dark {
  --bs-btn-color: #f8f9fa;
  --bs-btn-border-color: #f8f9fa;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #f8f9fa;
  --bs-btn-hover-border-color: #f8f9fa;
  --bs-btn-focus-shadow-rgb: 248, 249, 250;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #f8f9fa;
  --bs-btn-active-border-color: #f8f9fa;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #f8f9fa;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f8f9fa;
  --bs-gradient: none;
}
.animate__animated.animate__delay-6s {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  -webkit-animation-delay: calc(var(--animate-delay) * 6);
  animation-delay: calc(var(--animate-delay) * 6);
}
.animate__animated.animate__delay-7s {
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
  -webkit-animation-delay: calc(var(--animate-delay) * 7);
  animation-delay: calc(var(--animate-delay) * 7);
}
.animate__animated.animate__delay-8s {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
  -webkit-animation-delay: calc(var(--animate-delay) * 8);
  animation-delay: calc(var(--animate-delay) * 8);
}
.animate__animated.animate__delay-9s {
  -webkit-animation-delay: 9s;
  animation-delay: 9s;
  -webkit-animation-delay: calc(var(--animate-delay) * 9);
  animation-delay: calc(var(--animate-delay) * 9);
}
.animate__animated.animate__delay-10s {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
  -webkit-animation-delay: calc(var(--animate-delay) * 10);
  animation-delay: calc(var(--animate-delay) * 10);
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 0.5em, 0);
    transform: translate3d(0, 0.5em, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 0.5em, 0);
    transform: translate3d(0, 0.5em, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
