/* Import */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  src: url('/asset/font/inter.ttf') format('truetype');
}

/* Reset */
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  line-height: 1.5;
}
body {
  margin: 0;
  font-size: 1em;
  color: var(--clr-2);
  justify-content: center;
  background-size: 32px 32px;
  background-color: var(--clr-1);
  background-attachment: fixed;
  background-position: -32px -32px;
  font-family: 'Inter', 'system-ui', sans-serif;
  background-image: radial-gradient(var(--clr-3) 1px, transparent 0);
}

/* Variables */
:root {
  --clr-1: #faf0e6;
  --clr-2: #212529;
  --clr-3: #352f4450;
  --clr-4: #ffffff;
  --clr-5: #ffffff25;
  --clr-6: #ffffff50;
  --clr-7: #352f44;
  --clr-8: #ffffffaa;
  --clr-9: #00000025;
  --clr-10: #00000050;
  --clr-11: #343a40;
}

/* Global */
.wrapper {
  overflow-x: hidden;
}
.container {
  width: 100%;
  padding: 0 1em;
  max-width: 1200px;
}
[aria-current='page'] {
  text-decoration: underline;
  text-underline-offset: 0.25em;
}
a {
  color: inherit;
  text-decoration: none;
}
h1 {
  font-weight: 600;
  font-size: 1.75em;
  line-height: 1.25;
}
h1,
h2,
p {
  margin: 0;
}

/* Header */
header nav {
  display: flex;
  padding: 1em 0;
  min-height: 4em;
  align-items: center;
  justify-content: center;
  outline: 1px solid var(--clr-3);
}
header nav .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .navigation ul {
  gap: 1em;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
header nav .navigation > a {
  font-weight: 500;
  font-size: 1.25em;
}
header nav .navigation ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 0.25em;
}
@media (max-width: 768px) {
  header nav .navigation ul {
    gap: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 4em 0;
    position: fixed;
    max-width: 248px;
    align-items: center;
    flex-direction: column;
    transform: translateX(125%);
    background-color: var(--clr-1);
    border-left: 1px solid var(--clr-3);
    transition: transform 0.25s ease-in-out;
  }
  header nav .navigation ul.show {
    transform: translateX(0);
  }
  header nav .navigation ul li {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  header nav .navigation ul li a {
    width: 100%;
    padding: 1em;
    text-align: center;
  }
  main .content div a {
    width: 100%;
  }
}

/* Main */
main {
  display: flex;
  padding: 2em 0;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 8em);
}
main .content {
  gap: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .content h1 {
  font-size: 2.5em;
  font-weight: 600;
}
main .content h1 span {
  font-weight: 400;
}
main .content h1 span:last-child {
  font-weight: inherit;
}
main .content p {
  font-weight: 300;
  font-size: 1.25em;
}
main .content p a {
  font-weight: 500;
}
main .content p a:hover {
  text-decoration: underline;
  text-underline-offset: 0.25em;
}
main .content .button-group {
  gap: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
main .content .button-group a {
  gap: 0.5em;
  display: flex;
  font-weight: 500;
  font-size: 1.25em;
  padding: 0.5em 1em;
  color: var(--clr-4);
  align-items: center;
  border-radius: 0.25em;
  justify-content: center;
  background-color: var(--clr-2);
  transition: background-color 0.25s ease-in-out;
}
main .content .button-group a:hover {
  background-color: var(--clr-11);
}
@media (max-width: 768px) {
  main .content .button-group a {
    width: 100%;
  }
}

/* Footer */
footer {
  display: flex;
  min-height: 4em;
  text-align: center;
  align-items: center;
  justify-content: center;
  outline: 1px solid var(--clr-3);
}
footer .footer {
  padding: 1em 0;
}

/* Hamburger */
.hamburger {
  z-index: 100;
  display: none;
  cursor: pointer;
  flex-direction: column;
}
.hamburger span {
  width: 25px;
  height: 3px;
  margin: 3px;
  transition: all 0.3s ease;
  background-color: var(--clr-2);
}
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
  .navigation ul {
    display: none;
  }
  .hamburger.clicked span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .hamburger.clicked span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.clicked span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -8px);
  }
}

/* Scheme */
.scheme {
  right: 1em;
  width: 3em;
  bottom: 1em;
  height: 3em;
  border: none;
  display: flex;
  cursor: pointer;
  position: fixed;
  padding: 0.75em;
  align-items: center;
  border-radius: 999em;
  justify-content: center;
  background-color: var(--clr-5);
  outline: 1px solid var(--clr-3);
  transition: background-color 0.25s ease-in-out;
}
.scheme:hover {
  background-color: var(--clr-6);
}
.scheme:focus-visible {
  outline: 1px solid var(--clr-7);
}

/* Dark */
.dark {
  color: var(--clr-4);
  background-color: var(--clr-2);
  background-image: radial-gradient(var(--clr-5) 1px, transparent 0);
}
.dark header nav {
  outline: 1px solid var(--clr-6);
}
.dark header nav .navigation ul li a:hover {
  color: var(--clr-4);
  text-decoration: underline;
  text-underline-offset: 0.25em;
}
.dark main .content h1 {
  color: var(--clr-4);
}
.dark main .content p a {
  color: var(--clr-4);
}
.dark main .content .button-group a {
  color: var(--clr-2);
  background-color: var(--clr-4);
}
.dark main .content .button-group a:hover {
  background-color: var(--clr-8);
}
.dark footer {
  outline: 1px solid var(--clr-6);
}
.dark footer .footer {
  color: var(--clr-4);
}
.dark .hamburger span {
  background-color: var(--clr-4);
}
.dark .scheme {
  color: var(--clr-2);
  background-color: var(--clr-9);
  outline: 1px solid var(--clr-6);
}
.dark .scheme:hover {
  background-color: var(--clr-10);
}
.dark .scheme svg {
  color: var(--clr-4);
}
@media (max-width: 768px) {
  .dark header nav .navigation ul {
    background-color: var(--clr-2);
    border-left: 1px solid var(--clr-6);
  }
  .dark header nav .navigation ul li a {
    color: var(--clr-4);
  }
  .dark header nav .navigation ul li a:hover {
    color: var(--clr-4);
    text-decoration: underline;
    text-underline-offset: 0.25em;
  }
}

/* Contact: contact.html */
.contact main form {
  gap: 1em;
  display: flex;
  flex-direction: column;
}
.contact main form label {
  display: none;
}
.contact main form textarea {
  resize: none;
  min-height: 10em;
}
.contact main form input,
.contact main form textarea {
  width: 100%;
  padding: 1em;
  border: none;
  outline: none;
  font-size: 1em;
  border-radius: 0.25em;
  background-color: var(--clr-1);
  border: 1px solid var(--clr-3);
  transition: border 0.25s ease-in-out;
  font-family: 'Inter', 'system-ui', sans-serif;
}
.contact main form input:focus,
.contact main form textarea:focus {
  border: 1px solid var(--clr-7);
}
.contact main form input::placeholder,
.contact main form textarea::placeholder {
  color: var(--clr-3);
}
.contact main form button {
  gap: 0.5em;
  border: none;
  display: flex;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.25em;
  padding: 0.5em 1em;
  color: var(--clr-4);
  align-items: center;
  border-radius: 0.25em;
  justify-content: center;
  background-color: var(--clr-2);
  font-family: 'Inter', 'system-ui', sans-serif;
  transition: background-color 0.25s ease-in-out;
}
@media (max-width: 768px) {
  .contact main form button {
    width: 100%;
  }
}
.contact.dark main form input,
.contact.dark main form textarea {
  color: var(--clr-4);
  background-color: var(--clr-2);
  border: 1px solid var(--clr-6);
}
.contact.dark main form input:focus,
.contact.dark main form textarea:focus {
  border: 1px solid var(--clr-4);
}
.contact.dark main form input::placeholder,
.contact.dark main form textarea::placeholder {
  color: var(--clr-6);
}
.contact.dark main form button {
  color: var(--clr-2);
  background-color: var(--clr-4);
}
.contact.dark main form button:hover {
  background-color: var(--clr-8);
}

/* Resource: resource.html */
.resource main h2 {
  font-size: 1.5em;
  font-weight: 500;
}
.resource main .project {
  gap: 1em;
  display: flex;
  flex-wrap: wrap;
}
.resource main .project .card {
  width: 100%;
  overflow: hidden;
  margin-bottom: 1em;
  border-radius: 0.5em;
  background-color: var(--clr-1);
  border: 1px solid var(--clr-3);
  max-width: calc(33.3333333333% - 1em);
}
@media (max-width: 1024px) {
  .resource main .project .card {
    max-width: calc(50% - 1em);
  }
}
@media (max-width: 768px) {
  .resource main .project .card {
    max-width: 100%;
  }
}
.resource main .project .card .card-body {
  gap: 0.5em;
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.resource main .project .card .card-body h2 {
  margin: 0;
  font-weight: 500;
  font-size: 1.25em;
}
.resource main .project .card .card-body img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.5em;
  border: 1px solid var(--clr-3);
}
.resource main .project .card .card-body p {
  margin: 0;
  font-size: 1em;
  font-weight: 300;
}
.resource main .project .card .card-body .label {
  gap: 0.5em;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5em;
}
.resource main .project .card .card-body .label span {
  font-weight: 300;
  font-size: 0.75em;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  border: 1px solid var(--clr-3);
}
.resource.dark main .project .card {
  background-color: var(--clr-2);
  border: 1px solid var(--clr-6);
}
.resource.dark main .project .card .card-body h2 {
  color: var(--clr-4);
}
.resource.dark main .project .card .card-body img {
  border: 1px solid var(--clr-6);
}
.resource.dark main .project .card .card-body p {
  color: var(--clr-4);
}
.resource.dark main .project .card .card-body .label span {
  color: var(--clr-4);
  border: 1px solid var(--clr-6);
}

/* Loading form submit button */
.loading {
  pointer-events: none;
  opacity: 0.5;
}
.loading::after {
  width: 1em;
  height: 1em;
  content: '';
  position: absolute;
  border-radius: 50%;
  border-top-color: transparent;
  border-right-color: transparent;
  border: 0.25em solid var(--clr-4);
  animation: loading 0.75s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
    border-top-color: transparent;
    border-right-color: transparent;
    border: 0.25em solid var(--clr-4);
  }
  25% {
    transform: rotate(90deg);
    border-top-color: transparent;
    border-right-color: transparent;
    border: 0.25em solid var(--clr-4);
  }
  50% {
    transform: rotate(180deg);
    border-top-color: transparent;
    border-right-color: transparent;
    border: 0.25em solid var(--clr-4);
  }
  75% {
    transform: rotate(270deg);
    border-top-color: transparent;
    border-right-color: transparent;
    border: 0.25em solid var(--clr-4);
  }
  100% {
    transform: rotate(360deg);
    border-top-color: transparent;
    border-right-color: transparent;
    border: 0.25em solid var(--clr-4);
  }
}
