/* Importing Inter font */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  src: url('/asset/font/inter.ttf');
}

/* Set animate delay between 1, 2, until 5 by 0.25 second */
:root {
  --animate-delay: 0.25s;
}

/* Prevent anchor overlap inside navbar */
html {
  scroll-padding-top: calc(56px + 24px);
}

/* Set font family to all inside body with Inter */
body {
  font-family: 'Inter', system-ui, sans-serif;
}

/* Specify the min height for navbar */
header nav {
  min-height: 56px;
}

/* Set height fit to screen (reducing cumulative shift layout) */
main.sultan-kautsar-main-height {
  min-height: calc(100vh - (56px + 1px));
}

/* Adjust height of text area inside contact page */
main #contact form #message {
  min-height: 250px;
}

/* Specify the min height for footer */
footer {
  min-height: 56px;
}

/* Set button dark with button light variable in dark scheme  */
[data-bs-theme='dark'] .btn-dark {
  --bs-btn-color: var(--bs-black);
  --bs-btn-bg: var(--bs-light);
  --bs-btn-border-color: var(--bs-light);
  --bs-btn-hover-color: var(--bs-black);
  --bs-btn-hover-bg: #d3d4d5;
  --bs-btn-hover-border-color: #c6c7c8;
  --bs-btn-focus-shadow-rgb: 211, 212, 213;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #c6c7c8;
  --bs-btn-active-border-color: #babbbc;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #f8f9fa;
  --bs-btn-disabled-border-color: #f8f9fa;
}

/* Add border light subtle to <badge> with background dark  */
[data-bs-theme='dark'] .badge.bg-dark {
  border: 1px solid var(--bs-light-border-subtle);
}

/* Change size to 0.55em the checkmark on valid input background */
.was-validated .form-control:valid,
.form-control.is-valid {
  background-size: calc(0.75em + 0.375rem) calc(0.55em + 0.375rem);
}

/* Adjust fade in up translate 3d to 35 percent */
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 35%, 0);
    transform: translate3d(0, 35%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 35%, 0);
    transform: translate3d(0, 35%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* Set button outline dark with button outline light variable in dark scheme */
[data-bs-theme='dark'] .btn-outline-dark {
  --bs-btn-color: #f8f9fa;
  --bs-btn-border-color: #f8f9fa;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #f8f9fa;
  --bs-btn-hover-border-color: #f8f9fa;
  --bs-btn-focus-shadow-rgb: 248, 249, 250;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #f8f9fa;
  --bs-btn-active-border-color: #f8f9fa;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #f8f9fa;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f8f9fa;
  --bs-gradient: none;
}
