/* File: main.css */
/* Default: Font Face */
@font-face {
  font-display: swap;
  font-family: "Plus Jakarta Sans";
  src: url("/asset/font/plus-jakarta-sans.ttf");
}
/* Default: Root */
:root {
  --blue: var(--bs-primary-bg-subtle);
  --darkblue: var(--bs-primary-bg-subtle);
}
/* Default: Selection */
::selection {
  color: var(--bs-white);
  background: var(--bs-primary);
}
/* Default: HTML */
html {
  scroll-padding-top: calc(58px + 24px);
}
/* Default: Body */
body {
  letter-spacing: 0.15px;
  font-family: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
}
/* Default: Header */
header {
  min-height: 57px;
}
/* Default: Main */
main {
  margin-top: 57px;
  min-height: calc(100svh - (58px * 2));
}
/* Default: Footer */
footer {
  min-height: 57px;
}
/* Default: Media: Main */
@media (max-width: 492px) {
  main {
    min-height: calc(100svh - (81px + 58px));
  }
}
/* Framework: Bootstrap: Header Active */
header .nav-link.active {
  border-radius: var(--bs-border-radius);
  background-color: var(--bs-secondary-bg);
}
/* Framework: Bootstrap: Media: Header Navigation Link */
@media (max-width: 992px) {
  header .nav-link {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  header .nav-link[href='/'] {
    margin-top: 1rem;
  }
}
/* Framework: Bootstrap: Icons */
.bi {
  width: 1em;
  height: 1em;
  fill: currentcolor;
  vertical-align: -0.125em;
}
.navbar .dropdown-menu .active .bi {
  display: block !important;
}
/* Framework: Bootstrap: Font Bold */
.fw-bold {
  font-weight: 800 !important;
}
/* Framework: Bootstrap: Popover */
.popover {
  font-family: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
}
/* Framework: Bootstrap: Form Control */
.form-control:focus {
  border-color: #aaaaaa;
  box-shadow: 0 0 0 0.25rem rgba(153, 153, 153, 0.333);
}
.was-validated .form-control:valid,
.form-control.is-valid {
  background-size: calc(0.75em + 0.375rem) calc(0.55em + 0.375rem);
}
/* Framework: Bootstrap: Dark Mode Button Dark */
[data-bs-theme="dark"] .btn-dark {
  --bs-btn-hover-bg: #d3d4d5;
  --bs-btn-active-bg: #c6c7c8;
  --bs-btn-active-color: #000;
  --bs-btn-bg: var(--bs-light);
  --bs-btn-disabled-bg: #f8f9fa;
  --bs-btn-disabled-color: #000;
  --bs-btn-color: var(--bs-black);
  --bs-btn-hover-border-color: #c6c7c8;
  --bs-btn-hover-color: var(--bs-black);
  --bs-btn-active-border-color: #babbbc;
  --bs-btn-border-color: var(--bs-light);
  --bs-btn-disabled-border-color: #f8f9fa;
  --bs-btn-focus-shadow-rgb: 211, 212, 213;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
/* Framework: Bootstrap: Dark Mode Button Outline Dark */
[data-bs-theme="dark"] .btn-outline-dark {
  --bs-gradient: none;
  --bs-btn-color: #f8f9fa;
  --bs-btn-hover-bg: #f8f9fa;
  --bs-btn-hover-color: #000;
  --bs-btn-active-bg: #f8f9fa;
  --bs-btn-active-color: #000;
  --bs-btn-border-color: #f8f9fa;
  --bs-btn-disabled-color: #f8f9fa;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-hover-border-color: #f8f9fa;
  --bs-btn-active-border-color: #f8f9fa;
  --bs-btn-disabled-border-color: #f8f9fa;
  --bs-btn-focus-shadow-rgb: 248, 249, 250;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
