/* Importing Inter font */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  src: url('/asset/font/inter.ttf');
}

/* Set animate delay between 1, 2, until 5 by 0.25 second */
:root {
  --animate-delay: 0.25s;
}

/* Prevent anchor overlap inside navbar */
html {
  scroll-padding-top: calc(56px + 24px);
}

/* Set font family to all inside body with Inter */
body {
  font-family: 'Inter', system-ui, sans-serif;
}

/* Specify the min height for navbar */
header nav {
  min-height: 56px;
}

/* Set height fit to screen (reducing cumulative shift layout) */
main.rayatiga-main-height {
  min-height: calc(100vh - (56px + 1px));
}

/* Adjust height of text area inside contact page */
main #contact form #floatingTextarea {
  min-height: 150px;
}

/* Specify the min height for footer */
footer {
  min-height: 56px;
}

/* Add border light subtle to class with btn-dark  */
[data-bs-theme='dark'] .btn-dark {
  border: 1px solid var(--bs-light-border-subtle);
}

/* Add border light subtle to <badge> with background dark  */
[data-bs-theme='dark'] .badge.bg-dark {
  border: 1px solid var(--bs-light-border-subtle);
}
