/* Font */
@font-face {
  font-display: swap;
  font-family: 'Space Grotesk';
  src: url(/asset/font/space-grotesk.ttf);
}
/* Debugging */
/* * {
  outline: 1px solid #00000055;
  background: #ff000011;
} */
/* Root */
:root {
  --bs-body-bg: #fcfcfc;
  --bg-scroll-top: #fcfcfc;
  --border-scroll-top: #212529;
  --bs-body-bg-rgb: 252, 252, 252;
}
/* Font */
* {
  font-family: 'Space Grotesk', sans-serif !important;
}
/* Selection */
*::selection {
  color: currentColor;
  background-color: #2e229b55;
}
/* Form */
.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(110, 110, 110, 0.25) !important;
}
/* Navigation */
.dropdown-item:hover,
.dropdown-item:focus {
  background-color: var(--bs-dark-bg-subtle) !important;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--bs-dark) !important;
}
.nav-link:focus-visible {
  border-radius: var(--bs-border-radius);
  box-shadow: 0 0 0 0.25rem rgba(110, 110, 110, 0.25) !important;
  transition: 250ms all;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 calc(var(--bs-navbar-toggler-focus-width) - 0.15rem) var(--bs-dark) !important;
}
/* Scroll to Top */
#scrollTopButton {
  opacity: 0;
  right: 25px;
  z-index: 99;
  bottom: 70px;
  position: fixed;
  padding: 5px 10px;
  transition: 500ms all;
  background: var(--bg-scroll-top);
  border: 1px solid var(--border-scroll-top);
  outline: 5px solid var(--bg-scroll-top);
}
/* Unit */
.h-73px {
  height: 73px !important;
}
.single-page {
  padding-top: 73px !important;
  min-height: calc(100vh - 73px) !important;
}
.btn-magenta {
  color: #ffffff !important;
  background: #c208c2 !important;
}
.btn-magenta:hover {
  background: #c208c2c5 !important;
}
.btn-magenta:focus-visible {
  background: #c208c2c5 !important;
  box-shadow: 0 0 0 0.25rem rgba(184, 12, 109, 0.5) !important;
}
.link-magenta {
  color: #c208c2 !important;
}
.text-justify {
  text-align: justify !important;
}
/* Media */
@media (max-width: 475px) {
  ul li span {
    display: block !important;
  }
}
/* Scheme */
[data-bs-theme='dark'] {
  --nav-active: #ffffff;
  --bs-body-color: #f8f9fa;
  --bg-scroll-top: #212529;
  --bs-body-bg-rgb: 24, 27, 31;
  --border-scroll-top: #f8f9fa;
  --bs-body-bg: rgb(24, 27, 31);
  --bg-header: rgba(5, 5, 5, 0.5) !important;
}
[data-bs-theme='dark'] .btn-outline-dark {
  color: #cccccc !important;
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}
[data-bs-theme='dark'] .btn-outline-dark:hover {
  color: #ffffff !important;
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}
[data-bs-theme='dark'] .text-dark {
  color: #ffffff !important;
}
#schemeButton {
  opacity: 1;
  right: 25px;
  z-index: 99;
  bottom: 20px;
  position: fixed;
  padding: 5px 10px;
  transition: 500ms all;
  background: var(--bg-scroll-top);
  border: 1px solid var(--border-scroll-top);
  outline: 5px solid var(--bg-scroll-top);
}
