@font-face {
    font-display: swap;
    font-family: "Inter";
    src: url(/asset/media/inter.ttf);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    background: #1f1f1f;
    letter-spacing: -0.4px;
    font-family: "Inter", system-ui, sans-serif;
}
h1 {
    line-height: 1.15;
}

header {
    display: flex;
    min-height: 70px;
    align-items: center;
    justify-content: center;
}
header a {
    color: #757575;
    font-size: 14px;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - (70px + 70px));
    min-height: calc(100dvh - (70px + 70px));
}
main section {
    gap: 8px;
    margin: auto;
    display: flex;
    padding: 10px;
    max-width: 800px;
    flex-direction: column;
}
main section h1 {
    color: #fafafa;
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 8px;
}
main section h1 span {
    display: inline-block;
}
main section h1 span mark {
    color: #1f1f1f;
    background: #ffff33;
    padding: 0 8px;
}
@media (max-width: 768px) {
    main section h1 span mark {
        padding: 0;
        color: #fafafa;
        background: transparent;
    }
}
main section p {
    color: #757575;
    font-size: 20px;
}
main section > span {
    color: #757575;
    font-size: 18px;
    margin-top: 4px;
    font-style: italic;
    text-decoration: none;
}

footer {
    display: flex;
    min-height: 70px;
    align-items: center;
    justify-content: center;
}
footer span {
    color: #757575;
    font-size: 14px;
}
footer span a {
    color: #757575;
    text-decoration: none;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(24px);
    }
    50% {
        opacity: 0.35;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
main section h1,
main section p,
main section > span {
    opacity: 0;
    transform: translateY(24px);
}
main section h1 {
    animation: fadeInUp forwards ease-in-out 1.75s 0s;
}
main section p {
    animation: fadeInUp forwards ease-in-out 1.75s 0.5s;
}
main section > span {
    animation: fadeInUp forwards ease-in-out 1.75s 1s;
}
