@font-face {
    font-display: swap;
    font-family: "Inter";
    src: url(/asset/media/inter.ttf);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    background: #1f1f1f;
    letter-spacing: -0.4px;
    font-family: "Inter", system-ui, sans-serif;
}
h1 {
    line-height: 1.15;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;
}
main section {
    gap: 8px;
    margin: auto;
    display: flex;
    padding: 10px;
    max-width: 800px;
    flex-direction: column;
}
main section h1 {
    color: #fafafa;
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 8px;
}
main section h1 span {
    display: inline-block;
}
main section h1 span mark {
    color: #1f1f1f;
    background: #ffff33;
    padding: 0 8px;
}
@media (max-width: 768px) {
    main section h1 span mark {
        padding: 0;
        color: #fafafa;
        background: transparent;
    }
}
main section p {
    color: #757575;
    font-size: 20px;
}
main section > span {
    color: #757575;
    font-size: 18px;
    margin-top: 4px;
    font-style: italic;
    text-decoration: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
main section h1,
main section p,
main section > span {
    opacity: 0;
}
main section h1 {
    animation: fadeIn forwards ease-in-out 0.75s 0s;
}
main section p {
    animation: fadeIn forwards ease-in-out 0.75s 0.25s;
}
main section > span {
    animation: fadeIn forwards ease-in-out 0.75s 0.5s;
}
