<!-- Head Element -->
<head>
    <!-- Title Element -->
    <title>Sultan Kautsar</title>
    <!-- Meta Element (Charset: UTF-8; HTTP-equiv: X-UA-Compatible; Name: Viewport) -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Meta Element (Name: Title, Author, Keywords, Description) -->
    <meta name="title" content="Sultan Kautsar" />
    <meta name="author" content="Sultan Kautsar" />
    <meta name="keywords" content="Sultan Kautsar, Founder Rayatiga, sultankautsar.com, Sultan, Kautsar, Sultan K" />
    <meta name="description" content="Hello, I'm Sultan Kautsar, I'm a UI/UX, Web Developer and a Technology Enthusiast." />
    <!-- Meta Element (Property: Open Graph, Twitter) -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://sultankautsar.com/" />
    <meta property="og:title" content="Sultan Kautsar" />
    <meta property="og:description" content="Hello, I'm Sultan Kautsar, I'm a UI/UX, Web Developer and a Technology Enthusiast." />
    <meta property="og:image" content="https://sultankautsar.com/asset/image/sultankautsar-og.png" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://sultankautsar.com/" />
    <meta property="twitter:title" content="Sultan Kautsar" />
    <meta property="twitter:description" content="Hello, I'm Sultan Kautsar, I'm a UI/UX, Web Developer and a Technology Enthusiast." />
    <meta property="twitter:image" content="https://sultankautsar.com/asset/image/sultankautsar-og.png" />
    <!-- Link Element (Relationship: Cascading Style Sheet) -->
    <link rel="stylesheet" href="/asset/css/main.css" />
    <link rel="stylesheet" href="/asset/css/root.css" />
    <link rel="stylesheet" href="/asset/css/icon.css" />
    <link rel="stylesheet" href="/asset/css/animation.css" />
    <link rel="stylesheet" href="/asset/css/aos.css" />
    <!-- Script Element (Type: Text/JavaScript) -->
    <script defer type="text/javascript" src="/asset/js/aos.js" async></script>
    <script defer type="text/javascript" src="/asset/js/main.js" async></script>
    <script defer type="text/javascript" src="/asset/js/root.js" async></script>
    <script defer type="text/javascript" src="/asset/js/template.js" async></script>
    <script defer type="text/javascript" src="/asset/js/angular.min.js" async></script>
    <!-- Link Element (Relationship: Apple Touch Icon, Icon, Manifest, Mask Icon)-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <!-- Meta Element (Name: Microsoft Application Tile Color, Theme Color) -->
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
</head>
