@font-face {
    font-display: swap;
    font-family: "Inter";
    src: url(/asset/media/inter.ttf);
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    line-height: 1.65;
    letter-spacing: -0.4px;
    font-family: "Inter", sans-serif;
}
a {
    color: #000000;
    font-weight: 600;
    text-decoration: underline;
}
h1 {
    line-height: 1.25em;
}
img {
    max-width: 100%;
}
.container {
    padding: 32px;
    margin: 0 auto;
    max-width: 1200px;
}
.grid {
    display: grid;
}
.card {
    gap: 8px;
    padding: 32px;
    display: flex;
    color: #000000;
    overflow: hidden;
    position: relative;
    background: #ffffff;
    border-radius: 12px;
    flex-direction: column;
    border: 1px solid #eeeeee;
}
.card h3 {
    font-size: 18px;
    font-weight: 600;
}
.card p {
    width: 100%;
}
.button {
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    transition: 0.25s;
    padding: 12px 24px;
    background: #ffffff;
    border-radius: 12px;
    letter-spacing: 0.2px;
    text-decoration: none;
    border: 2px solid #ffffff;
    text-transform: uppercase;
    box-shadow: 0 0 16px #ffffff55;
}
.button:hover {
    filter: brightness(1.125);
    box-shadow: 0 0 24px #ffffffaa;
}
.button-group {
    gap: 12px;
    display: flex;
    flex-wrap: wrap;
}
section {
    padding: 32px;
}
#hero {
    gap: 16px;
    display: flex;
    color: #ffffff;
    min-height: 720px;
    position: relative;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: center 35% / cover no-repeat url(/asset/media/landing-hero.jpg) #ffffff;
}
#hero::before {
    top: 0;
    left: 0;
    width: 100%;
    content: "";
    height: 100%;
    position: absolute;
    background: #00000099;
}
#hero h1 {
    font-size: 52px;
    font-weight: 800;
    z-index: 1;
}
@media (max-width: 768px) {
    #hero h1 {
        font-size: 48px;
    }
}
#hero p {
    font-size: 20px;
    z-index: 1;
}
#hero p a {
    color: #ffffff;
}
#hero .button-group {
    margin-top: 12px;
    justify-content: center;
    z-index: 1;
}
#principle {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}
#principle h2 {
    margin-bottom: 8px;
}
#principle > p {
    margin: 0 auto;
    max-width: 600px;
}
#principle .grid {
    gap: 20px;
    margin-top: 32px;
    text-align: start;
    grid-template-columns: repeat(3, 1fr);
}
#principle .card {
    background: #ffffff;
    transition: box-shadow 0.25s;
}
#principle .card:nth-child(1) {
    border: 1px solid #7777ff;
    box-shadow: 0 0 12px #7777ff11;
}
#principle .card:nth-child(2) {
    border: 1px solid #ee5555;
    box-shadow: 0 0 12px #ee555511;
}
#principle .card:nth-child(3) {
    border: 1px solid #ee55ff;
    box-shadow: 0 0 12px #ee55ff11;
}
@media (min-width: 768px) {
    #principle .card:nth-child(1):hover {
        border: 1px solid #7777ff;
        box-shadow: 0 0 24px #7777ff44;
    }
    #principle .card:nth-child(2):hover {
        border: 1px solid #ee5555;
        box-shadow: 0 0 24px #ee555544;
    }
    #principle .card:nth-child(3):hover {
        border: 1px solid #ee55ff;
        box-shadow: 0 0 24px #ee55ff44;
    }
}
#principle .card img {
    max-width: 40px;
}
@media (max-width: 768px) {
    #principle .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
#focus {
    position: relative;
    text-align: center;
    padding-top: 120px;
    background: #fefefe;
    padding-bottom: 120px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
#focus h2 {
    margin-bottom: 8px;
}
#focus > p {
    margin: 0 auto;
    max-width: 600px;
}
#focus .grid {
    gap: 20px;
    max-width: 1136px;
    margin: 32px auto 0 auto;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
@media (max-width: 768px) {
    #focus .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
#focus .card {
    text-align: start;
    background: #ffffff;
    transition: box-shadow 0.25s;
}
#focus .card:nth-child(1) {
    border: 1px solid #7777ff;
    box-shadow: 0 0 12px #7777ff11;
}
#focus .card:nth-child(2) {
    border: 1px solid #ee5555;
    box-shadow: 0 0 12px #ee555511;
}
#focus .card:nth-child(3) {
    border: 1px solid #ee55ff;
    box-shadow: 0 0 12px #ee55ff11;
}
@media (min-width: 768px) {
    #focus .card:nth-child(1):hover {
        border: 1px solid #7777ff;
        box-shadow: 0 0 24px #7777ff44;
    }
    #focus .card:nth-child(2):hover {
        border: 1px solid #ee5555;
        box-shadow: 0 0 24px #ee555544;
    }
    #focus .card:nth-child(3):hover {
        border: 1px solid #ee55ff;
        box-shadow: 0 0 24px #ee55ff44;
    }
}
#focus .card h4 {
    font-size: 28px;
}
#focus .card small {
    font-size: 16px;
    font-weight: 500;
}
#focus .card s {
    color: #ff2222;
    font-weight: 500;
}
#focus .card ul {
    list-style: none;
}
#word {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}
#word h2 {
    margin-bottom: 8px;
}
#word > p {
    margin: 0 auto;
    max-width: 600px;
}
#word p.truncate {
    line-clamp: 5;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
@media (max-width: 768px) {
    #word p.truncate {
        overflow: hidden;
        line-clamp: unset;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: unset;
        -webkit-box-orient: vertical;
    }
}
#word .grid {
    gap: 20px;
    margin-top: 32px;
    position: relative;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 768px) {
    #word .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
#word .card {
    text-align: start;
    background: #ffffff;
    transition: box-shadow 0.25s;
}
#word .card:nth-child(1) {
    border: 1px solid #7777ff;
    box-shadow: 0 0 12px #7777ff11;
}
#word .card:nth-child(2) {
    border: 1px solid #ee5555;
    box-shadow: 0 0 12px #ee555511;
}
#word .card:nth-child(3) {
    border: 1px solid #ee55ff;
    box-shadow: 0 0 12px #ee55ff11;
}
@media (min-width: 768px) {
    #word .card:nth-child(1):hover {
        border: 1px solid #7777ff;
        box-shadow: 0 0 24px #7777ff44;
    }
    #word .card:nth-child(2):hover {
        border: 1px solid #ee5555;
        box-shadow: 0 0 24px #ee555544;
    }
    #word .card:nth-child(3):hover {
        border: 1px solid #ee55ff;
        box-shadow: 0 0 24px #ee55ff44;
    }
}
#action {
    gap: 16px;
    display: flex;
    min-height: 320px;
    position: relative;
    text-align: center;
    background: #fefefe;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
#action h2 {
    font-size: 32px;
    text-wrap: balance;
    line-height: 1.25em;
}
#action .button {
    color: #ffffff;
    margin-top: 12px;
    background: #000000;
    border-color: #000000;
    box-shadow: 0 0 16px #00000077;
}
#action .button:hover {
    box-shadow: 0 0 24px #000000aa;
}
footer {
    color: #ffffff;
    padding: 24px 32px;
    text-align: center;
    background: #000000;
}
footer a {
    color: #ffffff;
}
