@font-face {
    font-display: swap;
    font-family: "Inter";
    src: url(/asset/media/inter.ttf);
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    line-height: 1.65;
    letter-spacing: -0.4px;
    font-family: "Inter", sans-serif;
}
a {
    color: #3333ff;
    text-decoration: none;
}
h1,
#action h2 {
    line-height: 1em;
    text-wrap: balance;
}
img {
    max-width: 100%;
}
.container {
    padding: 32px;
    margin: 0 auto;
    max-width: 1200px;
}
.grid {
    display: grid;
}
.card {
    gap: 8px;
    padding: 32px;
    display: flex;
    color: #000000;
    overflow: hidden;
    position: relative;
    background: #ffffff;
    border-radius: 12px;
    flex-direction: column;
    border: 1px solid #eeeeee;
}
.card h3 {
    font-size: 18px;
    font-weight: 600;
    z-index: 1;
}
.card p {
    width: 100%;
    z-index: 1;
}
.button {
    color: #ffffff;
    font-size: 14px;
    transition: 0.25s;
    font-weight: 500;
    padding: 14px 32px;
    border-radius: 12px;
    letter-spacing: 0.2px;
    text-decoration: none;
    border: 2px solid #eeeeee;
    text-transform: uppercase;
    box-shadow: 0 0 16px #ffffff77;
    background: linear-gradient(45deg, #eeeeee, #ee5555, #ee55ff, #eeeeee) #7777ff;
}
.button:hover {
    filter: brightness(1.125);
    box-shadow: 0 0 24px #ffffffaa;
}
.truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 3;
    -webkit-line-clamp: 3;
}
section {
    padding: 32px;
}
#hero,
#action {
    gap: 16px;
    display: flex;
    color: #ffffff;
    min-height: 720px;
    position: relative;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: center 35% / cover no-repeat url(/asset/media/landing-hero.jpg) #ffffff;
}
#hero::before,
#action::before,
#focus::before {
    top: 0;
    left: 0;
    width: 100%;
    content: "";
    height: 100%;
    position: absolute;
    background: #00000077;
}
#hero h1 {
    font-size: 64px;
    font-weight: 800;
    z-index: 1;
}
#hero mark {
    opacity: 1;
    padding: 0;
    color: #7777ff;
    background-color: transparent;
    background: -webkit-linear-gradient(45deg, #ffffff, #ee5555, #ee55ff, #ffffff) #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
}
#hero mark.fade-out {
    opacity: 0;
}
#hero p {
    font-size: 20px;
    z-index: 1;
}
#hero .button,
#action .button {
    margin-top: 12px;
    z-index: 1;
}
#principle,
#focus,
#word {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}
#principle h2,
#focus h2,
#word h2 {
    margin-bottom: 8px;
}
#principle p,
#focus p,
#word p {
    max-width: 600px;
    margin: 0 auto;
}
#principle .grid {
    gap: 12px;
    margin-top: 32px;
    text-align: start;
    grid-template-columns: repeat(3, 1fr);
}
#principle .card {
    color: #ffffff;
}
#principle .card::before {
    top: 0;
    left: 0;
    width: 100%;
    content: "";
    height: 100%;
    position: absolute;
    background: #00000044;
}
#principle .card:nth-child(1) {
    background: #ee5555;
}
#principle .card:nth-child(2) {
    background: #ee55ff;
}
#principle .card:nth-child(3) {
    background: #7777ff;
}
#principle .card img {
    max-width: 40px;
    margin-bottom: 16px;
    z-index: 1;
}
@media (max-width: 768px) {
    #principle .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
#focus {
    color: #ffffff;
    position: relative;
    background: #1f1f1f;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    background: center 70% / cover no-repeat url(/asset/media/landing-focus.jpg);
}
#focus > h2,
#focus > p {
    position: inherit;
    z-index: 2;
}
#focus .grid {
    gap: 18px;
    row-gap: 12px;
    max-width: 1136px;
    margin: 32px auto 0 auto;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
@media (max-width: 768px) {
    #focus .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
#focus .card {
    color: #ffffff;
    text-align: start;
    background: #1f1f1f;
    max-height: max-content;
}
#focus .card:nth-child(1) {
    border: 1px solid #7777ff;
    box-shadow: 0 0 12px #7777ff11;
}
#focus .card:nth-child(2) {
    border: 1px solid #ee5555;
    box-shadow: 0 0 12px #ee555511;
}
#focus .card:nth-child(3) {
    border: 1px solid #ee55ff;
    box-shadow: 0 0 12px #ee55ff11;
}
#focus .best {
    gap: 4px;
    display: flex;
    font-size: 14px;
    align-items: center;
}
#focus .card h4 {
    font-size: 28px;
}
#focus .card small {
    font-size: 16px;
    font-weight: 500;
}
#focus .card s {
    color: #ff2222;
    font-weight: 500;
}
#focus .card ul {
    list-style: none;
}
#word .grid {
    gap: 12px;
    overflow: hidden;
    margin-top: 32px;
    position: relative;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 768px) {
    #word .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
#word .card .star {
    z-index: 1;
}
@media (min-width: 769px) {
    #word .grid::before {
        top: 0;
        left: 0;
        content: "";
        width: 200px;
        height: 100%;
        position: absolute;
        background: linear-gradient(to right, #ffffff, #ffffff00);
        z-index: 2;
    }
    #word .grid::after {
        top: 0;
        right: 0;
        content: "";
        width: 200px;
        height: 100%;
        position: absolute;
        background: linear-gradient(to left, #ffffff, #ffffff00);
        z-index: 2;
    }
    #word .card {
        width: 500px;
    }
}
#action {
    min-height: 320px;
    background: center / cover no-repeat url(/asset/media/landing-action.jpg) #ffffff;
}
#action::before {
    background: #000000aa;
}
#action h2 {
    font-size: 32px;
    z-index: 1;
}
footer {
    padding: 24px 32px;
    text-align: center;
}
