/* Cascading Style Sheet: Footer */
footer {
  margin-top: 0.5rem;
  border-top: 0.016rem solid;
  min-height: 3rem;
  display: flex;
  align-items: center;
}
footer div.container {
  display: flex;
  flex-grow: 1;
  gap: 2rem;
  justify-content: space-between;
}
