/* Cascading Style Sheet: Media */
@media (max-width: 760px) {
  div.container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  main div.container {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  footer div.container {
    flex-direction: column;
    gap: 0;
  }
}
