/* Cascading Style Sheet: Root */
/* * {
    outline: 1px solid #00000055;
    background: #ff000011;
} */
@font-face {
  font-family: "JetBrainsMono";
  src: url(../font/JetBrainsMono.ttf);
  font-display: swap;
}
body {
  font-family: "JetBrains Mono", "JetBrainsMono", monospace;
  background-color: #fbfaea;
}
*::selection {
  background-color: #0000ff55;
}
a,
a:visited {
  color: #0000ff;
}
a {
  text-decoration: none;
  display: inline-block;
}
a:hover {
  text-decoration-line: underline;
}
p {
  line-height: 1.25rem;
}
div.container {
  padding: 0.5rem 2rem;
}
#top {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 99;
  border-radius: 100%;
  background-color: #ffffffdd;
  border: 0.016rem solid;
  padding: 0.3rem 0.6rem;
  color: #000000;
  box-shadow: 2px 3px 0px 0px #000000;
}
